* {
    font-family: Avenir, raleway, STXihei, STHeiti, PingFang SC;
}

#sitename {
    text-align: center;
    font-weight: bold;
    font-size: 1.7rem;
    position: absolute;
}

.navbar {
    line-height: 7rem;
    border-bottom: 1px solid #EEE;
}

.nav-list {
    margin: 0px;
    font-weight: 600;
    list-style: none;
    letter-spacing: 0.1rem;
}

.nav-item {
    position: relative;
    display: inline;
    padding-bottom: 2.5rem;
}

.nav-item a {
    color: #000;
    text-decoration: none;
    margin-right: 1.5rem;
}

.contents {
    margin-top: 10%;
}

.content ol, .content ul {
    margin-left: 3rem;
    list-style-position: outside;
}

.content h2 {
    border-bottom: 1px solid #EEE;
}


.popup-list.show {
    display: block;
}

.popup-list {
    display: none;
    position: absolute;
    white-space: nowrap;
    left: -0.6rem;
    margin: 0px;
    top: 3.5rem;
    box-shadow: 0px 0px 20px #EEE;
    z-index:999;
    background: white;
    border: 1px solid #EEE;
    font-size: 70%;
}

.popup-item {
    display: block;
    border-bottom: 1px solid #EEE;
    text-align: center;
    margin: 0px;
    padding: 0px 1rem;
    list-style: none;
    line-height: 4rem;
}

.popup-item a {
    margin: 0px;
}

.popup-item:hover {
    background: #71D9E6;
}

.popup-item:hover a {
    color: #FFF;
}

p {
    margin-bottom: 1.5rem;
}


li p:first-child {
    display: inline;
}

.simple-article-list {
    margin-left: 1.5rem;
}
.simple-article-list li {
    list-style: none;
}

.toc ul {
    list-style: none;
}

.toc-title {
    font-weight: bold;
    boader-bottom: 1px solid #DDD;
    margin-bottom: 1rem;
}


pre, pre code {
    font-family: 'Fira Code', monaco, 'ubuntu mono', 'Source Code Pro', courier;
    background: #f4faff;
    overflow: auto;
    border: 0px;
}

.gist pre {
    border-radius: 4px;
}

.tiny-bottom-gap {
    margin-bottom: 2px;
}

.cmd {
    font-family: 'Fira Code', monaco, 'ubuntu mono', 'Source Code Pro', courier;
    font-style: italic;
    white-space: nowrap;
    border: 1px solid #DDD;
    border-radius: 4px;
    padding: 0 3px;
}

.cmd-output {
    background: white;
    border-left: 1px dotted black;
    padding-left: 2rem;
    color: #777;
    font-size: 95%;
}

.explain {
    color: #999999;
    font-size: 95%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.verb, .v {
    font-family: 'Fira Code', monaco, 'ubuntu mono', 'Source Code Pro', courier;
    font-size: 95%;
}

.vnumber, .vquote, .vlong {
    color: #28a528;
}

.vsymbol {
    font-style: italic;
    opacity: 0.85;
}

code {
    font-family: 'Fira Code', monaco, 'ubuntu mono', 'Source Code Pro', courier;
    font-size: 95%;
    white-space: inherit;
    background: inherit;
    border: 0;
}

.blockquote {
    border-left: 10px #EEE solid;
}

.bold {
    font-weight: bold;
}
